body{
    background-color: rgb(44, 44, 44);
}
.mensagem1 {
    text-align: center;
    font-size: 105px;
    color: white;
}
.mensagem2 {
    text-align: center;
    color: rgb(226, 226, 226);

}

@media (max-width: 768px) {
  .mensagem1 {
    font-size: 48px; /* título menor */
    padding: 20px;
  }

  .mensagem2 {
    font-size: 14px;
    padding: 10px;
  }
}
